@import "reset.css";
body {
  width: 100%;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .container {
    width: 100%;
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 100%;
    max-width: 320px;
    position: relative;
  }
}

.navbar {
  display: flex;
  justify-content: center;
  margin: 45px auto 51px auto;
}
@media (max-width: 1200px) {
  .navbar {
    margin: 41px auto 43px auto;
  }
}
@media (max-width: 768px) {
  .navbar {
    display: none;
  }
}

.navbar__link {
  margin-right: 68px;
  cursor: pointer;
  font-size: 11px;
  font-weight: 400;
  line-height: 22px;
  font-style: normal;
  color: #4E4E4E;
}
.navbar__link:last-child {
  margin-right: 0;
}
.navbar__link:hover {
  color: #a97575;
}
@media (max-width: 1200px) {
  .navbar__link {
    margin-right: 34px;
  }
}

.burger-wrap {
  display: flex;
  justify-content: flex-end;
}

.burger-menu {
  display: none;
}
.burger-menu.active {
  padding: 0 9.25px 0 16.25px;
}
.burger-menu.active .line1 {
  transform: rotate(-315deg);
}
.burger-menu.active .line2 {
  transform: translateX(35px);
}
.burger-menu.active .line3 {
  transform: rotate(315deg);
}
@media (max-width: 768px) {
  .burger-menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 37px;
    margin: 23px 0;
    padding: 0 12.75px;
    background-color: black;
  }
}

.line {
  width: 18.5px;
  height: 3px;
  background-color: white;
  margin-bottom: 3.5px;
  transform-origin: left;
  transition: all 0.6s;
}
.line:last-child {
  margin-bottom: 0;
}

.burger-navbar-wrap {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  border: 1px solid red;
}

.burger-navbar {
  display: none;
  width: 182px;
  height: 208px;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: #F5F5F5;
}
.burger-navbar.active {
  display: block;
}

.burger-navbar__link {
  font-size: 11px;
  font-weight: 400;
  line-height: 22px;
  font-style: normal;
  padding: 5px 0 2.5px 12px;
  cursor: pointer;
  color: #4E4E4E;
}
.burger-navbar__link:hover {
  color: #57A4A4;
  background-color: #e5e5e5;
}

.header-img {
  width: 100%;
  margin: 0 auto 66px;
}
@media (max-width: 1200px) {
  .header-img {
    margin: 0 auto 56px;
  }
}
@media (max-width: 768px) {
  .header-img {
    margin: 0 auto 38px;
  }
}

.recent {
  width: 100%;
  margin-bottom: 69px;
}
@media (max-width: 1200px) {
  .recent {
    margin-bottom: 60px;
  }
}
@media (max-width: 768px) {
  .recent {
    margin-bottom: 77.5px;
  }
}

.section-title {
  color: #4E4E4E;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  font-style: normal;
}
@media (max-width: 768px) {
  .section-title {
    font-size: 14px;
  }
}

.recent-grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  row-gap: 32px;
  margin-top: 24px;
}
@media (max-width: 1200px) {
  .recent-grid {
    display: block;
    margin-bottom: 32px;
  }
}

.recent-grid-item {
  display: flex;
}
.recent-grid-item .recent-img {
  width: 160px;
  height: 140px;
  margin-right: 21px;
}
@media (max-width: 768px) {
  .recent-grid-item .recent-img {
    margin-bottom: 11px;
  }
}
.recent-grid-item .recent-text .top-text {
  color: #4E4E4E;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  font-style: normal;
}
.recent-grid-item .recent-text .comment {
  color: #4E4E4E;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  font-style: normal;
}
.recent-grid-item .recent-text .text {
  color: #4E4E4E;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  font-style: normal;
}
@media (max-width: 768px) {
  .recent-grid-item .recent-text .text {
    display: none;
  }
}
@media (max-width: 1200px) {
  .recent-grid-item {
    margin-bottom: 32px;
  }
}
@media (max-width: 768px) {
  .recent-grid-item {
    display: block;
  }
  .recent-grid-item:last-child {
    display: none;
  }
}

.instagram {
  width: 100%;
  background-color: #f7f7f7;
  padding: 47px 0;
}
@media (max-width: 768px) {
  .instagram {
    background-color: #FFFFFF;
    padding: 0;
  }
}

.title-wrap {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .title-wrap :last-child {
    display: none;
  }
}

.instagram-page {
  font-size: 13px;
}

.instagram-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
@media (max-width: 1200px) {
  .instagram-wrap {
    margin-top: 35px;
  }
}
@media (max-width: 768px) {
  .instagram-wrap {
    display: block;
    margin-top: 13px;
  }
}

.instagram-img {
  width: 285px;
  height: 285px;
  margin-right: 10px;
}
.instagram-img:last-child {
  margin-right: 0;
}
@media (max-width: 1200px) {
  .instagram-img {
    width: 249px;
    height: 249px;
    margin-right: 9px;
  }
  .instagram-img:last-child {
    display: none;
  }
  .instagram-img:nth-child(3) {
    margin-right: 0;
  }
}
@media (max-width: 768px) {
  .instagram-img {
    width: 301px;
    height: 301px;
    margin: 0 auto 42px;
  }
  .instagram-img:nth-child(3) {
    display: none;
  }
  .instagram-img:nth-child(2) {
    display: none;
  }
}

.footer {
  background-color: #000000;
  padding: 70px 0;
}
@media (max-width: 1200px) {
  .footer {
    padding: 56px 0;
  }
}
@media (max-width: 768px) {
  .footer {
    padding: 38px 0 47px 0;
  }
}

.footer-title {
  color: #FEFEFE;
  text-align: center;
  margin-bottom: 22px;
}

.footer-text {
  color: #B9B9B9;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  margin-bottom: 37px;
}
@media (max-width: 768px) {
  .footer-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 8px;
    margin-bottom: 26px;
  }
}

.footer-icon {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin-bottom: 34px;
}
.footer-icon .icon-img {
  width: 34px;
  height: 34px;
  cursor: pointer;
}

.contacts {
  color: #B9B9B9;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}
@media (max-width: 678px) {
  .contacts {
    font-size: 14px;
    line-height: 24px;
  }
}

/*# sourceMappingURL=style.css.map */
